<div id="main"></div>
<!-- <div class="infobar"></div> -->

<script type="text/javascript">
  $(function () {
    var movies = <%= Movie.all.to_json.html_safe %>;

    window.PM.initialize(
      $('#main'),
      // $('.infobar'),
      movies
    );
  });
</script>