<!-- app/assets/templates/movies/list.jst.ejs -->

<% movies.each(function (movie) { %>
  <div class="span3" class="movie" data-id="<%= movie.escape("id") %>">
    <a href="<%='#bar/' + movie.escape("id") %>"> <img src="<%= movie.escape("poster_url") %>"" </a>
  </div>
<% }); %>