<!-- app/assets/templates/movies/info.jst.ejs -->
<div id="info-<%= movie.escape("id") %>" class="infobar">
  <div class="closeMe" data-id=<%= movie.escape("id")%>>
  </div>
  <div class="trailer">
    <iframe width="560" height="315" src="<%=movie.escape("trailer")%>"" frameborder="0" allowfullscreen></iframe>
  </div>
  <%= movie.escape("id") %>
</div>