<!-- app/assets/templates/movies/info.jst.ejs -->
<div id="info-<%= movie.escape("id") %>" class="infobar">
  <div class="closeMe" data-id=<%= movie.escape("id")%>>
  </div>
  <%= movie.escape("id") %>
</div>


