<!-- app/assets/templates/movies/search.jst.ejs -->
<div id="searchMovieForm">
  <h1>Search Rotten Tomatoes:</h1>
  <input name="movieTitle">
  <button type="submit" class="submit">Submit</button>
</div>